<html>
<body style="background: black;">


<style> input {width: 300px; height: 40px; margin: 10px; font-family: Trebuchet MS; font-size: 20px;} select {width: 300px; height: 40px; margin: 10px; font-family: Trebuchet MS; font-size: 20px;}</style>

<div style='text-align: center;'>

<p1 style='color: white; font-size: 40px; font-family: Trebuchet MS'> KINGM.IO</p1>

<form method="POST" action="/join_game">
<input name='name' id='name' required> </input> <br>
 <select name="mode" required>
    <option value="/ffa">FFA</option>
    <option value="/teams_p">Teams (Public)</option>
   
  </select> <br>
<input type = 'submit' value= 'Join Game'> 
</form>

<div style="width: 400px; background: black; border: 2px solid white; color: white; margin: 0 auto;">
<span style="font-family: Trebuchet MS; font-size: 25px;"> Recent Updates: </span> <br>
Several new swords added. <br>
Added Bows <br>
Added Armor <br>
Added Public Team Games <br>
Added FFA Mode <br>

<span style="font-family: Trebuchet MS; font-size: 25px;">Coming Soon: </span> <br>
Private Team Games 
</div>

</div>
</body>
</html>