<html>
<body style="background: black;">
<title> KingM.IO </title>

<style> input {width: 300px; height: 40px; margin: 10px; font-family: Trebuchet MS; font-size: 20px;} select {width: 300px; height: 40px; margin: 10px; font-family: Trebuchet MS; font-size: 20px;}</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3415665149510171",
    enable_page_level_ads: true
  });
</script>
<div style='text-align: center;'>

<p1 style='color: white; font-size: 40px; font-family: Trebuchet MS'> KINGM.IO</p1>

<form method="POST" action="/join_game">
<input name='name' id='name' placeholder="Name"required> </input> <br>
 <select name="mode" required>
    <option value="/ffa">FFA</option>
    <option value="/teams_p">Teams (Public)</option>
   
  </select> <br>
<input type = 'submit' value= 'Join Game'> 
</form>
<div style="font-family: Trebuchet MS; font-size: 20px; color: white;">
~Earn money by killing other players <br>
~Earn money by staying alive <br>
~Spend money at the shop (swords, armor, etc.) <br>
~Use WASD keys to move around <br>
~Click with the mouse to attack <br>
~Use #1 and #2 keys to switch between sword and bow <br>

TEAMS: <br>
~Capture the center hill to gain points for your team <br>
~Capture the side hills to gain regen or speed for your team <br>
~First team to 5,000 points wins <br>
~Game will auto start when 16 players join <br>
~Option to start the game will be provided once four players join <br>

FFA: <br>
~Stay in the center kill to gain points <br>
~Your points are reset upon death <br>

<br>
Contact officialtingames@gmail.com with any suggestions

</div>

<a style="color: white;" href="/updates">View Updates</a>


</div>
</body>
</html>