<html>
<head>

</head>
<body style="background: black; text-align: center;">
<title> KingM.IO </title>

<style> input {width: 300px; height: 40px; margin: 10px; font-family: Trebuchet MS; font-size: 20px;} select {width: 300px; height: 40px; margin: 10px; font-family: Trebuchet MS; font-size: 20px;}</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<div style='text-align: center;'>

<p1 style='color: white; font-size: 40px; font-family: Trebuchet MS'> KINGM.IO</p1>

<form method="POST" action="/join_game">
<input name='name' id='name' placeholder="Name"required> </input> <br>
 <select name="mode" required>
    <option value="/ffa">FFA</option>
    <option value="/teams_p">Teams (Public)</option>
   
  </select> <br>
<input type = 'submit' value= 'Join Game'> 
<input type="hidden" name="skin" value="-1" id="skin"> </input>
<input type="hidden" name="l" value="" id="l"> </input>

</form>
<a id ="linlout" style="color: white; font-size: 23px; font-family: Trebuchet MS; "href="/login">Log In</a>
<div id="skins_div">
<div style="text-align: center; margin-bottom: 2px;"id="div_skins_title"> </div>
</div>

<div style="font-family: Trebuchet MS; font-size: 20px; color: white;">
~Earn money by killing other players <br>
~Earn money by staying alive <br>
~Spend money at the shop (swords, armor, etc.) <br>
~Use WASD keys to move around <br>
~Click with the mouse to attack <br>
~Use #1 and #2 keys to switch between sword and bow <br>

TEAMS: <br>
~Capture the center hill to gain points for your team <br>
~Capture the side hills to gain regen or speed for your team <br>
~First team to 5,000 points wins <br>
~Game will auto start when 16 players join <br>
~Option to start the game will be provided once four players join <br>

FFA: <br>
~Stay in the center kill to gain points <br>
~Your points are reset upon death <br>

<br>
Contact officialtingames@gmail.com with any suggestions

</div>

<a style="color: white;" href="/updates">View Updates</a>
<script src="/public/load_skins.js"> </script>

<script>

var selected_skin = 0;
var ski = [];

var name = "<%= name %>";
var id = "<%= id %>";
var sk = "<%= skins %>";
if(name != undefined && name != ""){
document.getElementById("name").value = name;
document.getElementById("name").readOnly = true;
document.getElementById("linlout").href = "/logout";
document.getElementById("l").value = "true";
if(sk != ""){
	ski = JSON.parse(sk);
}
populateSkinBox();
}else{
document.getElementById("l").value = "false";

}


function populateSkinBox(){
	var sk_div = document.getElementById("skins_div");
	sk_div.style = "text-align: left;background: white;font-size: 35px;  font-family: Trebuchet MS; margin: 30px; padding: 10px;"
	var skins_title = document.createElement("p1");
	skins_title.innerHTML = "SKINS";
	document.getElementById("div_skins_title").appendChild(skins_title);
	sk_div.appendChild(document.createElement("br"));
	for(let x in order){
		if(arrayIncludes(order[x], skin_perms) || arrayIncludes(order[x], ski)){
		skins[order[x]].style.padding = "10px";
		sk_div.appendChild(skins[order[x]]);
		skins[order[x]].onclick = function(){
			document.getElementById("skin").value = order[x];
			for(let i in skins){
				if(skins[i] != skins[order[x]]){
					skins[i].style.background = "white";
				}else{
					skins[i].style.background = "blue";
				}
			}
		};
		}
	}

	
}
function arrayIncludes(x, arr){
	var toReturn = false;
	for(let a in arr){

		if(arr[a] == x){
		toReturn = true;
		}
	}
	return toReturn;
}


</script>

</div>
<script type="text/javascript">
    adroll_adv_id = "ILLLOR6PCREBFJU4I3P7TU";
    adroll_pix_id = "W7Z4F3MFBZC4FNBOOM4LDS";

    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
</body>
</html>