<html>
<title> KingM.IO </title>

<body style="background: black;">
<div style="width: 400px; background: black; border: 2px solid white; color: white; margin: 0 auto; text-align: center;">
<span style="font-family: Trebuchet MS; font-size: 25px;"> Recent Updates: </span> <br>
Several new swords added. <br>
Added Bows <br>
Added Armor <br>
Added Public Team Games <br>
Added FFA Mode <br>

<span style="font-family: Trebuchet MS; font-size: 25px;">Coming Soon: </span> <br>
Private Team Games 
</div>
</body>
<html>